<div class="container w-50">
    <form action="/usuarios/olvide-password/{{id}}" method="POST">
        <div class="form-group">
        <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="repetirPassword">Repetir Contraseña:</label>
            <input type="password" name="repetirPassword" id="repetirPassword" class="form-control" required>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Modificar Password</button>
        </div>
    </form>
</div>