<body>
  <header class="bg-primary text-white text-center py-5">
    <h1>Nosotros</h1>
  </header>
  <main class="container mt-5">
    {{#if mensaje}}
        <div class="alert alert-info" role="alert">
          {{mensaje}}
        </div>
      {{else}}
      <form action="/nosotros/admin" id="nuestroForm" method="POST">
        <section>
          <h2>Nuestra Historia</h2>
          <textarea name="parrafo1" placeholder="Párrafo 1"></textarea>
          <textarea name="parrafo2" placeholder="Párrafo 2"></textarea>
          <textarea name="parrafo3" placeholder="Párrafo 3"></textarea>
          <textarea name="parrafo4" placeholder="Párrafo 4"></textarea>
        </section>
        <section>
          <h2>Nuestro Equipo</h2>
          <input type="text" name="equipo" placeholder="Nombre">
        </section>
        <section>
          <h2>Nuestra Misión</h2>
          <textarea name="mision" placeholder="Párrafo"></textarea>
        </section>
        <button type="submit">Enviar</button>
      </form>
    </main>
  {{/if}}
  <footer class="bg-dark text-white text-center py-3 mt-5">
    <p>© 2022 Nuestra Empresa. Todos los derechos reservados.</p>
  </footer>

</body>