<div class="container">
  <div class="form-container">
    <h1 class="form-heading">Crear Usuario</h1>
    <form action="/login/signup" method="POST" class="form">
      <div class="form-group">
        <label for="email" class="form-label">Correo electr칩nico:</label>
        <input type="email" name="email" id="email" class="form-input" required>
      </div>
      <div class="form-group">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="nombre" name="nombre" id="nombre" class="form-input" required>
      </div>
      <div class="form-group">
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="apellido" name="apellido" id="apellido" class="form-input" required>
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Correo electr칩nico:</label>
        <input type="email" name="email" id="email" class="form-input" required>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Contrase침a:</label>
        <input type="password" name="password" id="password" class="form-input" required>
      </div>
      <div class="form-group">
        <button type="submit" class="form-button">Crear</button>
      </div>
      <div class="text-center">
        <p>Ya tienes cuenta? <a class="text-center" href="/login">Inicia Sesi칩n</a></p>
      </div>
    </form>
  </div>
</div>