<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center">Crear Usuario</h1>
          {{#if error}}
          <div class="alert alert-danger">
            <li>{{error}}</li>
          </div>
          {{/if}}
          {{#if errors}}
          <div class="alert alert-danger">
            <ul>
              {{#each errors}}
              <li>{{msg}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
          {{#if message}}
          <div class="alert alert-success success">
            <li>{{message}}</li>
          </div>
          {{/if}}
          <form action="/login/signup" method="POST">
            <div class="form-group">
              <label for="email">Correo electrónico:</label>
              <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="first_name">Nombre:</label>
              <input type="text" name="first_name" id="first_name" class="form-control">
            </div>
            <div class="form-group">
              <label for="last_name">Apellido:</label>
              <input type="text" name="last_name" id="last_name" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary col-6">Crear</button>
            </div>
          </form>
          <div class="text-center">
            <p>¿Ya tienes cuenta? <a href="/login">Inicia Sesión</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-6 text-center">
      <h2>Inicia sesión con GitHub o Google</h2>
      <div class="d-grid gap-2 col-12 mx-auto">
        <button onclick="location.href='/login/signupGithub'" class="btn btn-primary">
          <img
            src="https://img2.freepng.es/20180514/gae/kisspng-github-logo-repository-computer-icons-5afa376c2582d9.9650908015263476281537.jpg"
            alt="Github Icon" style="width: 50px;">
          GitHub
        </button>
      </div>
      <div class="d-grid gap-2 col-12 mx-auto mt-3">
        <button onclick="location.href='/login/google'" class="btn btn-primary btn-google">
          <img
            src="https://img2.freepng.es/20180416/xlq/kisspng-g-suite-pearl-river-middle-school-google-software-sign-up-button-5ad4e1a9d11d62.1599053415239008418566.jpg"
            alt="Google Icon" style="width: 30px;" class="btn-google-icon">
          Sign up with Google
        </button>
      </div>
    </div>
  </div>
</div>


<script>

  setTimeout(function() {
  const successDiv = document.querySelector('.success');
  successDiv.style.display = 'none';
}, 3000)
</script>